@using ExcelDemo.Web.Models;
@model UploadExcelModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="card">
        <h5 class="card-header">Upload Excel</h5>
        <div class="card-body">
            <form id="uploadExcel" class="form-horizontal" enctype="multipart/form-data">
                <div class="form-group row">
                    <div class="col-sm-12 col-lg-6">
                        <input asp-for="ExcelFile" class="form-control" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                        <span id="ExcelFile-error" class="text-danger"></span>
                    </div>
                    <div class="col-sm-1">
                        <input type="button" value="Process" id="btnUpload" name="btnUpload" class="btn btn-primary" />
                    </div>
                    <div class="col-sm-1">
                        <a href="/upload/@Model.FileName" class="btn btn-primary" download>
                            <i class="fa fa-download"></i>
                            Download 
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<br />
<div id="tbl">
    
</div>
@*<div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="tblFile" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <td>File Name</td>
                        <td>Link</td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}  